<% layout('layouts/boilerplate') %>
<%-include("./includes/flash.ejs")%>
<div class="row">
    <div class="col-8 offset-2">
        <h3>Create a new Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    
            <div class="titles mb-3 ">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="Add title" type="text" required class="form-control">
                <div class="valid-feedback">Looks good!</div>
            </div>
            
            <div class="descriptions mb-3" >
                <label for="description" class="form-label">Descriprion</label>
                <textarea name="listing[description]" required placeholder="" class="form-control"></textarea>
                <div class="invalid-feedback">Please enter description</div>
            </div>
           
            <div class="imgs mb-3" >
                <label for="img" class="form-label">Upload Listing Image</label>
                <input name="listing[image][url]" type="file" class="form-control">
            </div>

            <div class="row">
                <div class="prices mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" required placeholder="in INR" class="form-control" type="number">
                    <div class="invalid-feedback">Price should be valid and a number</div>
                </div>  
    
                <div class="countries mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" required placeholder="India" type="text" class="form-control">
                    <div class="invalid-feedback">Country should be valid</div>
                </div> 
            </div>
            
            <div class="locations mb-3" >
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" required placeholder="Enter location" type="text" class="form-control">
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            <button class="btn btn-dark" >Add</button>
        </form>
    </div>
</div>