body{

    background-color:white;
    min-height: 100vh;
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    position: relative;
    display: flex;
    flex-direction: column;
}
main{
    min-height: 100vh;
}
.lists{
    
    margin-bottom: 8px !important;
    font-size: 33px;
    
}
.container{
    max-width:1370px !important;
}

.navbar{
    height: 4.2rem;
    background-color: white;
    
}
.navbar .navbar-collapse {
    background-color: #fff !important;
}
.nav-link{
    color: #000000 !important;
}
.btn.btn-search{
    background-color: #FF385C;
    color:white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
}
.btn.btn-search i{
    display: inline;
    margin-right: 0.5rem;
}
.btn.btn-search:hover{
    background-color: #FF385C;
    color:white;
}
input.nav-search{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
}
.f-info-links a{
    color:black;
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    display:flex;
    flex-direction: column;
    height: 6rem;
    align-items: center;
    justify-items: center;
    font-size: 0.8rem;
    gap:0px;
    padding: 5px;
    background-color: aliceblue;
    width: 100%;
    bottom:0;
    margin-top: 36px;
    
}

.f-info-socials{
    font-size: 1.2rem;
}

.card{
    border: none !important; 
    box-sizing: border-box;
    margin-top: 1rem !important;
    padding-right: 2px;
    padding-top: 1px !important;  
}
/* .card-img{
    display: grid !important;
    justify-items: center !important;
} */
.card-img img{
    border-radius: 7px !important;
    display: block;
    height: 315px !important;
    max-width: 450px !important;
    
}
.card .day{
    color:#6A6A6A;
    font-family: sans-serif;
}
.card-img img:hover{
    filter: brightness(0.8);
}
.link{
    text-decoration: none !important;
}
.card-title{
    font-size: 1.125rem;
    font-weight: 600;
}

.show-img{
    width: 470px !important;
    height: 300px !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto;
}
.btnsss{
    display: flex;
    justify-content: center;
}
.delbtn:hover{
    background-color: red !important;
}
.headshow{
    display: flex;
    justify-content: center;
}
.imgggg{
    display: flex;
    justify-content: center;
}
.review-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-reviews{
    /* margin: 0px auto !important; */
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    border:1px black solid !important;
}

.show-reviews p{
    margin-top:5px !important;
    margin-bottom: 0;
}

.all-review h5{
    margin-bottom: 0 !important;
    line-height: 0.5 !important;
    display: flex;
    justify-content: center;
}

#map{
    height: 400px;
    width:70vh;
    
}
.location{
    display: grid;
    justify-content: center;
}
.location h3{
    margin-top:32px;
    margin-bottom: 10px;
    
}


.filter{
    padding-top: 8px !important;
   
    
}
.filter i{
    display:grid;
    font-size: 24px;
    
}

.filter p{
    margin-bottom: 0 !important;
    
}
.category{
    display: grid;
    justify-items: center;
    opacity: 0.7;
    

}
.category:hover{
    opacity: 1;
}
.tax-info{
    display: none;
}
.tax-toggle{
    border:1px solid black;
    height: 2rem;
    padding:5px;
    border-radius: 1rem;
}